<div class="grid gap-2 lg:gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
  <app-balance-card [balance]="balanceData().balance" [percentageChange]="balanceData().percentageChange"
    [periodLabel]="periodLabel()" />

  <app-income-card [income]="incomeData().income" [percentageChange]="incomeData().percentageChange"
    [periodLabel]="periodLabel()" [title]="incomeTitle()" />

  <app-expense-card [expense]="expenseData().expense" [percentageChange]="expenseData().percentageChange"
    [periodLabel]="periodLabel()" [title]="expenseTitle()" />

  <app-savings-rate-card [savingsRate]="savingsData().savingsRate" [percentageChange]="savingsData().percentageChange"
    [periodLabel]="periodLabel()" />
</div>