<div class="grid grid-cols-4 gap-4">
  <app-balance-card
    [balance]="balanceData().balance"
    [percentageChange]="balanceData().percentageChange"
    [periodLabel]="periodLabel()"
  />

  <app-income-card
    [income]="incomeData().income"
    [percentageChange]="incomeData().percentageChange"
    [periodLabel]="periodLabel()"
    [title]="incomeTitle()"
  />

  <app-expense-card
    [expense]="expenseData().expense"
    [percentageChange]="expenseData().percentageChange"
    [periodLabel]="periodLabel()"
    [title]="expenseTitle()"
  />

  <app-savings-rate-card
    [savingsRate]="savingsData().savingsRate"
    [percentageChange]="savingsData().percentageChange"
    [periodLabel]="periodLabel()"
  />
</div>
