<z-card>
  <h1 class="font-semibold">Top expenses</h1>

  <div class="mt-4 space-y-3">
    @for (category of topCategories(); track category.categoryId; let i = $index) {
      <div class="flex items-center gap-3">
        <div
          class="size-10 shrink-0 flex items-center justify-center rounded-md"
          [class]="getRowStyle(i).bg"
        >
          <i-lucide [img]="iconMap[category.categoryIcon]" class="size-4" />
        </div>

        <span class="text-sm font-medium w-40 truncate shrink-0"
          >{{ category.categoryTitle }} ({{ category.percentage }}%)</span
        >

        <div class="flex-1 min-w-0 ml-13">
          <z-progress-bar
            [progress]="category.percentage"
            [zType]="getRowStyle(i).zType"
            class="h-1.5 w-80"
          />
        </div>

        <span class="text-sm font-semibold shrink-0 text-right w-24"
          >{{ formatAmount(category.total) }} €</span
        >
      </div>
    }
  </div>
</z-card>
