<z-accordion zType="single" [zCollapsible]="true" [zDefaultValue]="'section'" class="mb-4">
  <z-accordion-item zValue="section">
    <div
      zAccordionTrigger
      class="flex w-full items-center gap-2 py-2 px-2 border-none! bg-transparent! rounded-lg! hover:bg-accent/30 transition-colors cursor-pointer"
    >
      <span class="text-base font-semibold font-title text-foreground">{{ title() }}</span>
      <span class="text-xs text-muted-foreground bg-muted px-1.5 py-0.5 rounded-md">
        {{ count() }}
      </span>

      @if (showTotal()) {
        <span
          class="ml-auto text-base font-bold font-display tabular-nums"
          [class.text-destructive]="total() < 0"
          [class.text-primary]="total() > 0"
        >
          <span
            class="ml-auto mr-2 text-sm font-bold text-muted-foreground font-title tabular-nums"
          >
            TOTAL:
          </span>
          {{ total() | currency: 'EUR' }}
        </span>
      }
    </div>

    <!-- rows -->
    <ng-content />
  </z-accordion-item>
</z-accordion>
