@for (recurring of recurrings(); track recurring.id) {
<z-accordion zType="multiple" class="py-2">
  <z-accordion-item>
    <div zAccordionTrigger class="flex items-center justify-between w-full">
      <div class="flex items-center gap-4">
        <div class="flex items-center justify-center size-10 rounded-sm" [class]="typeInfo(recurring).style">
          <i-lucide [img]="typeInfo(recurring).icon" class="size-5" />
        </div>
        <span class="grid text-left text-sm leading-tight">
          <span class="flex items-center gap-2">
            <span class="truncate font-medium">{{ recurring.description }}</span>
            @if (recurring.autoDetected) {
            <z-badge zType="secondary" class="h-4 px-1.5 text-[10px] shrink-0">
              <i-lucide [img]="SparklesIcon" class="size-2.5 mr-0.5" />
              Auto
            </z-badge>
            }
          </span>
          <span class="truncate text-xs text-muted-foreground">Day {{ recurring.monthDay }} of every month</span>
        </span>
      </div>
      <div class="flex items-center gap-3">
        <z-badge zShape="soft" class="h-5 p-3 text-muted-foreground" zType="outline">{{
          recurring.category.title
          }}</z-badge>
        <span class="grid text-left text-sm leading-tight">
          <span class="text-sm font-medium" [class]="typeInfo(recurring).cost">
            {{ typeInfo(recurring).sign }}{{ monthlyCost(recurring) | currency: 'EUR' }}
          </span>
          <span class="text-xs text-muted-foreground">per {{ recurring.frequency === 'MONTH' ? 'month' : 'year'
            }}</span>
        </span>
      </div>
    </div>

    <div class="flex justify-between items-start p-4">
      <div class="flex flex-col translate-y-1">
        <span class="truncate text-xs text-muted-foreground">Schedule</span>
        <span class="truncate text-sm font-medium">{{ recurring.frequency | titlecase }}, Day {{ recurring.monthDay
          }}</span>
      </div>
      <div class="flex flex-col translate-y-1">
        <span class="truncate text-xs text-muted-foreground">Annual Total</span>
        <span class="truncate text-sm font-medium">{{
          annualCost(recurring) | currency: 'EUR'
          }}</span>
      </div>
      <div class="p-3 gap-3 flex">
        <z-button zType="ghost" (click)="editRecurring(recurring)">
          <i-lucide [img]="PencilIcon" />
          Edit
        </z-button>
        <z-button zType="ghost" class="text-expense-foreground" (click)="deleteRecurring(recurring)">
          <i-lucide [img]="Trash2Icon" />
          Delete
        </z-button>
      </div>
    </div>
  </z-accordion-item>
</z-accordion>
}