<div class="flex flex-1 items-center justify-between gap-2">
  <z-breadcrumb zWrap="wrap" zAlign="start" [zSeparator]="customSeparator">
    @for (crumb of breadcrumbs(); track $index; let last = $last) {
      @if (!last) {
        <z-breadcrumb-item [routerLink]="['/']" class="ml-0.5 mr-1.5">
          {{ crumb.label }}
        </z-breadcrumb-item>
      } @else {
        <z-breadcrumb-item class="ml-0.5 mr-0.5">{{ crumb.label }}</z-breadcrumb-item>
      }
    }
  </z-breadcrumb>

  <ng-template #customSeparator>
    <span class="text-muted-foreground ml-1">/</span>
  </ng-template>

  <div class="flex items-center justify-end gap-2">
    <app-notification-panel />
    <app-theme />
    <z-divider zOrientation="vertical" class="h-6" />
    <app-profile-button />
  </div>
</div>
