<hlm-sidebar collapsible="icon">
  <hlm-sidebar-header
    class="flex flex-row items-center gap-4 justify-between group-data-[collapsible=icon]:justify-center m-1.5 -mb-2.75 group-data-[collapsible=icon]:p-3 group-data-[collapsible=icon]:-mb-2.75">
    <z-button zType="sidebarGhost" routerLink="/"
      class="flex items-center cursor-pointer group-data-[collapsible=icon]:hidden">
      <z-avatar zShape="rounded" zSize="sm" zSrc="trocos-icon.svg"></z-avatar>
      <span class="font-bold text-[16px] text-foreground ml-1">Finova</span>
    </z-button>
    <button hlmSidebarTrigger></button>
  </hlm-sidebar-header>

  <z-divider zOrientation="horizontal" />

  <hlm-sidebar-content>
    <app-sidebar-group />
  </hlm-sidebar-content>

  <hlm-sidebar-footer>
    <app-sidebar-profile />
  </hlm-sidebar-footer>
</hlm-sidebar>