<div class="flex items-center justify-between px-8 md:px-10 py-5 md:py-7">
  <div class="flex items-center gap-2.5">
    <img src="trocos-icon.svg" alt="Trocos" class="size-8 md:size-10">
    <span class="font-['Space_Grotesk'] font-semibold tracking-wider">Trocos</span>
  </div>

  <div class="hidden md:flex gap-9 text-foreground text-sm font-medium">
    <a href="#features" class="hover:text-primary/50">Features</a>
    <a href="#how" class="hover:text-primary/50">How it works</a>
  </div>

  <div class="hidden md:flex items-center gap-5">
    <a href="https://github.com/neves350" target="_blank" rel="noopener noreferrer" aria-label="GitHub profile"
      class="text-foreground hover:text-primary/50">
      <i-lucide [img]="GithubIcon" class="size-4.5"></i-lucide>
    </a>
    <a routerLink="/register"
      class="text-foreground px-5 py-2.5 rounded-full border border-primary/80 bg-primary/15 font-semibold text-sm hover:bg-background flex items-center gap-3">
      Get Started
      <i-lucide [img]="ArrowUpRightIcon" class="size-4"></i-lucide>
    </a>
  </div>

  <z-button (click)="openMenu()" zType="ghost" class="cursor-pointer flex md:hidden" aria-label="Open menu">
    <i-lucide [img]="MenuIcon" class="size-4"></i-lucide>
  </z-button>
</div>

<ng-template #menuContent>
  <nav class="flex flex-col gap-6 p-5">
    <a href="#features" class="text-foreground text-sm font-medium hover:text-primary/50">Features</a>
    <a href="#how" class="text-foreground text-sm font-medium hover:text-primary/50">How it works</a>
    <a href="https://github.com/neves350" target="_blank" rel="noopener noreferrer"
      class="text-foreground text-sm font-medium hover:text-primary/50">GitHub</a>
    <a routerLink="/register" class="text-primary font-semibold text-sm flex items-center gap-3 underline">
      Get Started
      <i-lucide [img]="ArrowUpRightIcon" class="size-4"></i-lucide>
    </a>
  </nav>
</ng-template>