<div class="flex items-center gap-4">
  <z-tab-group
    #tabGroup
    [zShowArrow]="false"
    zTabsPosition="custom"
    zActivePosition="custom"
    (zTabChange)="onTabChange($event)"
    class="[&_nav]:mb-0 [&_.tab-content]:hidden"
  >
    <z-tab label="1W" />
    <z-tab label="1M" />
    <z-tab label="1Y" />
  </z-tab-group>

  <z-date-range-picker
    #dateRangePicker
    placeholder="Custom range"
    zSize="sm"
    zFormat="MMM d, yyyy"
    (rangeChange)="onRangeChange($event)"
  />
</div>
