@if (user(); as user) {
  <button
    type="button"
    class="flex w-full cursor-pointer items-center outline-none mr-5 group-data-[collapsible=icon]:justify-center"
    z-dropdown
    [zDropdownMenu]="menu"
    zAlign="end"
  >
    <z-avatar
      [zSrc]="user.avatarUrl"
      [zFallback]="initials()"
      [zAlt]="user.name"
      zShape="circle"
      class="shrink-0 cursor-pointer bg-sidebar-accent"
    >
      <z-badge
        class="absolute -right-[6px] -bottom-[6px] z-20 px-1 py-0 text-[8px] leading-[14px] bg-chart-2"
        >PRO</z-badge
      >
    </z-avatar>

    <i-lucide
      [img]="ChevronDownIcon"
      class="text-muted-foreground ml-0.5 size-4 group-data-[collapsible=icon]:hidden"
    />
  </button>

  <!-- Dropdown Menu -->
  <z-dropdown-menu-content #menu="zDropdownMenuContent" class="w-56">
    <z-dropdown-menu-item routerLink="/profile">
      <div class="flex flex-col">
        <span class="truncate text-sm font-medium">{{ user.name }}</span>
        <span class="truncate text-xs text-muted-foreground">{{ user.email }}</span>
      </div>
    </z-dropdown-menu-item>

    <z-divider class="-mx-1 my-1" />

    <z-dropdown-menu-item (click)="logout()">
      <i-lucide [img]="LogOutIcon" class="mr-2 size-4 text-destructive" />
      <span class="text-destructive"> Sign Out </span>
    </z-dropdown-menu-item>
  </z-dropdown-menu-content>
}
