<div class="min-h-screen flex flex-col items-center justify-center p-6 bg-background font-sans">
  <main class="w-full max-w-md">
    <div class="overflow-hidden">
      <div class="p-8 sm:p-12">
        <div class="flex flex-col items-center text-center mb-5">
          <div class="flex items-center justify-center mb-6">
            <span>
              <z-avatar zShape="rounded" class="bg-primary/80 text-primary-foreground font-bold text-lg font-display" zSize="lg">F</z-avatar>
            </span>
          </div>
          <h2 class="text-2xl font-bold tracking-tight text-white font-display">Forgot password?</h2>
          <div class="p-3 text-center">
            <p class="text-sm text-muted-foreground">
              No worries, we'll send you reset instructions.
            </p>
          </div>
        </div>

        <z-divider class="mt-4 mb-6" />

        <form class="space-y-6" (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="space-y-2">
            <label class="block text-sm font-semibold">Email</label>
            <input
              z-input
              zSize="lg"
              type="email"
              placeholder="john@example.com"
              formControlName="email"
              required
              class="rounded-md border border-input p-3 text-sm text-foreground"
            />
            @if (form.get('email')?.touched && form.get('email')?.errors?.['required']) {
              <span class="text-xs font-medium text-destructive"
                >Email is required</span
              >
            }
            @if (form.get('email')?.touched && form.get('email')?.hasError?.('email')) {
              <span class="text-xs font-medium text-destructive"
                >Enter a valid email</span
              >
            }
          </div>

          <button
            z-button
            type="submit"
            [zDisabled]="form.invalid"
            zFull
            zSize="lg"
            class="flex items-center justify-center text-sm font-semibold"
          >
            Reset password
            <i-lucide [img]="ArrowRightIcon" class="h-4" />
          </button>
        </form>

        <button
          z-button
          routerLink="/login"
          type="submit"
          zFull
          zSize="lg"
          zType="link"
          class="flex items-center justify-center text-sm font-semibold mt-2"
        >
          Back to login
        </button>
      </div>
    </div>
  </main>
</div>
