<z-card class="w-full h-full flex flex-col mt-4">
  <h1 class="text-lg font-semibold">Recent movements</h1>

  @if (hasTransfers() || hasTransactions()) {
    <div class="flex-1 mt-4 mb-2">
      @for (movement of recentMovements(); track movement.id) {
        <div class="flex w-full items-center outline-none p-2">
          <div
            class="size-10 flex items-center justify-center rounded-2xl"
            [class]="iconMap[movement.type].bg"
          >
            <i-lucide [img]="iconMap[movement.type].icon" class="size-5" />
          </div>

          <div class="ml-4 grid flex-1 text-left text-sm leading-tight">
            <span class="truncate text-sm font-medium">{{ movement.label }}</span>
            <span class="truncate text-xs text-muted-foreground"
              >{{ movement.subtitle }} · {{ movement.date | date: 'd MMM' }}</span
            >
          </div>

          <div class="ml-4 text-right text-sm">
            <span class="font-semibold" [class]="iconMap[movement.type].amountClass">
              {{ movement.amount | currency: 'EUR' }}
            </span>
          </div>
        </div>
      }
    </div>

    <div class="flex flex-col items-center justify-center mt-4">
      <z-button class="cursor-pointer" zType="ghost" routerLink="/transactions">
        View movements
        <i-lucide [img]="ChevronRightIcon" />
      </z-button>
    </div>
  } @else {
    <div class="flex flex-col items-center justify-center p-6 mt-6">
      <div
        class="size-12 flex items-center justify-center rounded-xl bg-accent text-accent-foreground mb-4"
      >
        <span class="material-symbols-outlined text-3xl">
          <i-lucide [img]="ArrowRightLeftIcon" class="my-icon" />
        </span>
      </div>

      <div class="flex flex-col items-center text-center">
        <div class="space-y-2 mt-6">
          <p>No movements yet</p>
          <span>Add transactions to view them here</span>
        </div>
      </div>
    </div>
  }
</z-card>
