<z-divider />

<form [formGroup]="form" class="grid flex-1 auto-rows-min gap-6 px-4 py-4 m-2">
  <!-- Name Input -->
  <div class="grid gap-2">
    <label for="name" class="text-sm">Account Name</label>
    <input
      z-input
      class="rounded-md border border-zinc-400/50 p-2 text-sm text-muted-foreground"
      formControlName="name"
      placeholder="My Account"
    />
    @if (form.controls.name.touched && form.controls.name.errors?.['required']) {
      <span class="text-xs text-destructive">Name of a account is required</span>
    }
  </div>

  <div class="grid gap-3">
    <!-- Type Select -->
    <div class="grid gap-2">
      <label for="type" class="text-sm">Type</label>
      <z-select class="w-full" formControlName="type">
        @for (bankAccountType of bankAccountTypes; track bankAccountType) {
          <z-select-item [zValue]="bankAccountType">
            <span>{{ getTypeLabel(bankAccountType) }}</span>
          </z-select-item>
        }
      </z-select>
      @if (form.controls.type.touched && form.controls.type.errors?.['required']) {
        <span class="text-xs text-destructive">Type is required</span>
      }
    </div>

    <!-- Balance -->
    <div class="grid gap-3">
      <label for="balance" class="text-sm">Balance</label>
      <div class="relative">
        <span
          class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"
        >
          <i-lucide [img]="EuroIcon" class="size-4" />
        </span>
        <input
          z-input
          class="w-full rounded-md border border-zinc-400/50 py-2 pl-10 pr-4 text-sm text-muted-foreground"
          formControlName="balance"
          placeholder="90"
        />
      </div>
      <span class="text-xs text-muted-foreground">Current account balance (may be negative)</span>
    </div>
  </div>
</form>
