<div class="flex justify-between mb-6">
  @if (user(); as user) {
    <h1 class="flex flex-col page-title">
      {{ greeting }}, {{ user.name }}
      <span class="page-subtitle">
        Check your financial overview.
      </span>
    </h1>
  }

  <div class="justify-end">
    <div class="flex items-center justify-between gap-3">
      <z-button class="cursor-pointer" (click)="openTransaction()">
        <i-lucide [img]="PlusIcon" />
        New Transaction
      </z-button>
      <z-button class="cursor-pointer" zType="outline" (click)="openTransfer()">
        <i-lucide [img]="ArrowRightLeftIcon" />
        Transfer
      </z-button>

      <z-select
        [zValue]="period()"
        [zIcon]="CalendarDaysIcon"
        (zSelectionChange)="onPeriodChange($event)"
      >
        <z-select-item zValue="week">Week</z-select-item>
        <z-select-item zValue="month">Month</z-select-item>
        <z-select-item zValue="year">Year</z-select-item>
      </z-select>
    </div>
  </div>
</div>
