<z-card class="-mt-4">
  <div class="flex items-start justify-between">
    <h3 class="font-semibold flex flex-col">
      Recent transactions
      <span class="text-muted-foreground text-sm">Recent card transactions</span>
    </h3>
    <z-button class="cursor-pointer" zType="outline" routerLink="/transactions">
      See all
      <i-lucide [img]="ArrowRightIcon" />
    </z-button>
  </div>

  @if (hasTransactions()) {
    <div class="flex-1 mt-4 mb-2">
      @for (transaction of transactions(); track transaction.id) {
        <div class="flex w-full items-center outline-none p-2">
          <div class="size-10 flex items-center justify-center rounded-full bg-accent">
            <i-lucide [img]="iconMap[transaction.category.icon] ?? iconMap['tag']" class="size-4" />
          </div>
          <div class="ml-4 grid flex-1 text-left text-sm leading-tight">
            <span class="truncate text-sm font-medium">{{ transaction.title | titlecase }}</span>
            <span class="truncate text-xs text-muted-foreground">
              {{ transaction.category.title }} · {{ transaction.date | date: 'd MMM' }}
            </span>
          </div>
          <div class="ml-4 text-right text-sm leading-tight">
            <span class="text-sm font-semibold" [class]="getAmountColorClass(transaction)">
              {{ getAmountPrefix(transaction) }}{{ transaction.amount | currency: 'EUR' }}
            </span>
          </div>
        </div>
      }
    </div>
  } @else if (!loading()) {
    <div class="flex flex-col items-center justify-center p-6 mt-6">
      <div
        class="size-12 flex items-center justify-center rounded-lg bg-accent text-accent-foreground mb-4"
      >
        <i-lucide [img]="BanknoteXIcon" />
      </div>
      <div class="flex flex-col items-center text-center">
        <div class="space-y-2 mt-6">
          <p class="font-medium">No transactions</p>
          <span class="text-muted-foreground">This card has no transactions yet.</span>
        </div>
      </div>
    </div>
  }
</z-card>
